# Probe SWD - don't expect any specific ID
adapter driver cmsis-dap
transport select swd
adapter speed 100

# Try with ignore-version to see what we get
swd newdap rpi cpu -ignore-version

dap create rpi.dap -chain-position rpi.cpu
