# Test config - init SWD but don't exit on DAP failure
adapter driver cmsis-dap
transport select swd
adapter speed 100

swd newdap rpi cpu -expected-id 0x4ba00477

# Don't create DAP yet - we'll do it manually via telnet
